# Copyright (C) 2017-2019 Dremio Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
 
name: Trigger Jar Build Crossbow

on: workflow_dispatch
       
env:
  ARCHERY_DEFAULT_BRANCH: ${{ github.ref_name }}
jobs:
  trigger-crossbow:
    name: Trigger Crossbow
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 0
      - name: Generate a token
        id: generate_token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_SECRET }}
      - name: Use the token
        env:
          CROSSBOW_GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          set -e
          echo ""
          echo "Setting Crossbow Github Token ${CROSSBOW_GITHUB_TOKEN}" 
      - name: Install Conda
        run: |
          set -e
          echo ""
          echo "Installing Miniconda."
          MINICONDA_URL="https://repo.continuum.io/miniconda"
          MINICONDA_FILE="Miniconda3-py39_22.11.1-1-Linux-x86_64.sh"
          curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
          bash $MINICONDA_FILE -b
      - name: Configuring Conda
        run: |
          set -e
          echo ""
          echo "Configuring conda."
          source /home/runner/miniconda3/bin/activate root
          conda config --remove channels defaults
          conda config --add channels defaults
          conda config --add channels conda-forge
          conda config --set show_channel_urls true
      - name: Install packages
        run: |
          set -e
          source /home/runner/miniconda3/bin/activate root
          conda install -y \
          click \
          github3.py \
          jinja2 \
          jira \
          pygit2=1.12.1 \
          ruamel.yaml \
          setuptools_scm \
          toolz
      - name: Run Crossbow script
        env:
          CROSSBOW_GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}ZZZ
        run: |
          set -e
          pushd ..
          source /home/runner/miniconda3/bin/activate root
          pip install -e arrow/dev/archery[crossbow] 
          echo GITHUB_WORKSPACE:$GITHUB_WORKSPACE
          echo GITHUB_REPOSITORY: $GITHUB_REPOSITORY
          cd arrow
          echo pwd
          pwd
          archery crossbow --queue-path $GITHUB_WORKSPACE --queue-remote https://github.com/$GITHUB_REPOSITORY submit java-jars --job-prefix nightly 
